<settings>
  <servers>
    <server>
      <id>nexus-releases</id>
      <username>USER_NAME</username>
      <password>USER_PASSWORD</password>
    </server>
    <server>
      <id>nexus-snapshots</id>
      <username>USER_NAME</username>
      <password>USER_PASSWORD</password>
    </server>
  </servers>
</settings>
